<div class="layout-container">

  {% include '@sharajman_theme/layout/header.html.twig' %}

  <main class="main">
    {{ page.content }}
  </main>

  {% include '@sharajman_theme/layout/footer.html.twig' %}

</div>