<div class="layout-container">
  {% include '@sharajman_theme/layout/header.html.twig' %}

    {{ page.content }}

  {% include '@sharajman_theme/layout/footer.html.twig' %}
</div>{# /.layout-container #}