{# page--user--login.html.twig #}

{% include '@sharajman_theme/layout/header.html.twig' %}

{# page--user--login.html.twig #}

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="http://localhost/sharajman-drupal/web/sites/default/files/2026-03/draw2.webp"
          class="img-fluid" alt="Login image">
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        
        <div class="card shadow p-4">
          <h3 class="mb-4 text-center">Login</h3>

          {{ page.content }}

        </div>

      </div>
    </div>
  </div>
</section>


{% include '@sharajman_theme/layout/footer.html.twig' %}